/**
 * Stylesheet for Frontend Website
 * 
 * Recommend to avoid this and use SASS file instead:
 * 	/assets/sass/frontend.scss
 */
 .content-header h1{
 	font-weight: bold !important;
 	font-size: 70px !important;
 }